<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Joga Centrum Włocławek</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{{ asset('style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('style/queries.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('style/aos.css') }}">

</head>
<body>
<section class="hero" id="hero">
    <section class="navigation text-center">
        <header>
            <div class="header-content">
                <div class="logo"><a href="#hero"><img src="{{ asset('img/logo_mini.png') }}" alt="logo"></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#activities">Zajęcia</a></li>
                            <li><a href="#schedule">Plan zajęć</a></li>
                            <li><a href="#prices">Cennik</a></li>
                            <li><a href="#terms">Regulamin</a></li>
                            <li><a href="#workshops">Warsztaty</a></li>
                            <li><a href="#contact">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h3 style="font-weight:400;">Joga Centrum</h3>
                    <div class="logo"><img src="{{ asset('img/logo.png') }}" alt="logo" class="img-center img-responsive"></div>
                    <h3>Ewa Falkowska</h3>
                    <p class="intro">Odkryj z nami świat jogi. Zapisz się na zajęcia już dziś!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#activities"><i class="fa fa-angle-down"></i></a></div>
</section>
<section id="about">
    
</section>
<section class="activities" id="activities">
    <div class="full-container">
        <div class="row vcenter">
            <div data-aos="slide-right" class="col-md-6 act shaped text-center">
                <h1>Zajęcia</h1>
            </div>
            <div data-aos="zoom-in" class="col-md-6 act-text">
                1.  KURS DLA POCZĄTKUJĄCYCH <br>
                (wtorki i piątki godzina 20.00)
                Trwający 2 miesiące cykl zajęć, na którym poznajemy podstawy jogi, uczymy się powitania słońca, relaksacji, wykonujemy ćwiczenia oddechowe. Kurs jest wprowadzeniem w świat jogi,  można  po nim dołączyć  - zależnie od preferencji - do dowolnie wybranej grupy. Kurs dla początkujących jest grupą zamkniętą, wymagane są zapisy i zaliczka. Kolejny kurs będzie odbywał się we wtorki i piątki o godzinie 20.00 zaczynamy 15 listopada 2016 r. o 20.00.
                <br><br>
                2. GRUPY PODSTAWOWE i JOGA KRĘGOSŁUPA <br>
                (poniedziałki, środy, piątki godzina 16.30)
                Odpowiednie dla każdej osoby chcącej zadbać o kręgosłup, wzmocnić i uelastycznić ciało  oraz zmniejszyć jego napięcie. Poprawiają kondycję, samopoczucie, uczą jak radzić sobie ze stresem. Zajęcia składają się z relaksacji oraz łagodnych, przyjemnych ćwiczeń usprawniających, często zalecanych w terapii kręgosłupa.
                <br><br>
                3. GRUPA OGÓLNA
                (poniedziałki, środy i piątki godzina 18.15) <br>
                Zajęcia dla osób konsekwentnych w praktyce jogi, obejmujące powitanie słońca, pozycje stojące i odwrócone jak również ćwiczenia oddechowe i relaksacyjne - każdy kto czuje się na siłach, może dołączyć po kursie dla początkujących.
                <br><br>
                4. GRUPY ŁĄCZONE
                ( środy 9.30, poniedziałki i środy godzina 20.00) <br>
                Zajęcia,  na których mogą spotkać się osoby bardziej zaawansowane w praktyce jogi z osobami początkującymi, wszyscy ćwiczą razem zgodnie ze swoimi możliwościami.
            </div>
        </div>
    </div>
</section>
<section class="schedule" id="schedule">
    <div class="full-container">
        <div class="row vcenter">
            <div data-aos="slide-right" class="col-md-6 act shaped-2 text-center">
                <h1>Plan Zajęć</h1>
            </div>
            <div data-aos="zoom-in" class="col-md-6 act-text">
                <div class="row">
                    <div class="sch-tab col-md-2">Pn.</div>
                    {%  for activity in activities %}
                        {% if activity.day == "1" %}
                    <div class="sch-cell col-lg-2 col-md-3">{{ activity.hour }}<p>{{ activity.type  }}</p></div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="sch-tab col-md-2">Wt.</div>
                    {%  for activity in activities %}
                        {% if activity.day == "2" %}
                            <div class="sch-cell col-lg-2 col-md-3">{{ activity.hour }}<p>{{ activity.type  }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="sch-tab col-md-2">Śr.</div>
                    {%  for activity in activities %}
                        {% if activity.day == "3" %}
                            <div class="sch-cell col-lg-2 col-md-3">{{ activity.hour }}<p>{{ activity.type  }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="sch-tab col-md-2">Czw.</div>
                    {%  for activity in activities %}
                        {% if activity.day == "4" %}
                            <div class="sch-cell col-lg-2 col-md-3">{{ activity.hour }}<p>{{ activity.type  }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="sch-tab col-md-2">Pt.</div>
                    {%  for activity in activities %}
                        {% if activity.day == "5" %}
                            <div class="sch-cell col-lg-2 col-md-3">{{ activity.hour }}<p>{{ activity.type  }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="prices" id="prices">
    <div class="full-container">
        <div class="row vcenter">
            <div data-aos="slide-right" class="col-md-6 act shaped text-center">
                <h1>Cennik</h1>
            </div>
            <div data-aos="zoom-in" class="col-md-6 act-text">
                <div class="row">
                    <div class="offer col-md-7">KURS DLA POCZĄTKUJĄCYCH</div>
                    <div class="offer col-md-5">290 PLN</div>
                </div>
                <div class="row">
                    <div class="offer col-md-7">4 zajęcia - 1 x tyg</div>
                    <div class="offer col-md-5">90 PLN</div>
                </div>
                <div class="row">
                    <div class="offer col-md-7">8 zajęć - 2 x tyg</div>
                    <div class="offer col-md-5">150 PLN</div>
                </div>
                <div class="row">
                    <div class="offer col-md-7">12 zajęć - 3 x tyg</div>
                    <div class="offer col-md-5">190 PLN</div>
                </div>
                <div class="row">
                    <div class="offer col-md-7">OPEN - dowolna ilość zajęć w tygodniu</div>
                    <div class="offer col-md-5">210 PLN</div>
                </div>
                <div class="row">
                    <div class="offer col-md-7">Jednorazowe wejście</div>
                    <div class="offer last-offer col-md-5">30 PLN</div>
                </div>
                <div>
                    Zajęcia płatne z góry.<br>
                    KARNETY są ważne przez miesiąc ( 4 tygodnie ) a w przypadku KURSU DLA POCZĄTKUJĄCYCH 2 miesiące ( 8 tygodni ).<br>
                    Z karnetu może korzystać jedna osoba.
                </div>
            </div>
        </div>
    </div>
</section>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script>
    /* When user clicks the Icon */
    $('.nav-toggle').click(function() {
        $(this).toggleClass('active');
        $('.header-nav').toggleClass('open');
        event.preventDefault();
    });
    /* When user clicks a link */
    $('.header-nav li a').click(function() {
        $('.nav-toggle').toggleClass('active');
        $('.header-nav').toggleClass('open');

    });

    $(function() {
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 20) {
                $('section.navigation').addClass('fixed');
                $('header').css({
                    "border-bottom": "none",
                    "padding": "12px 0"
                });
                $('header .member-actions').css({
                    "top": "26px",
                });
                $('header .navicon').css({
                    "top": "34px",
                });
            } else {
                $('section.navigation').removeClass('fixed');
                $('header').css({
                    "border-bottom": "solid 1px rgba(255, 255, 255, 0.2)",
                    "padding": "26px 0"
                });
                $('header .member-actions').css({
                    "top": "41px",
                });
                $('header .navicon').css({
                    "top": "48px",
                });
            }
        });
    });
    $(function() {

        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 800);
                    return false;
                }
            }
        });

    });
</script>
<script src="{{ asset('js/aos.js') }}"></script>
<script>
    AOS.init({
        easing: 'ease-in-out-sine',
        duration: 1000,
    });
</script>
</body>
</html>